* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-image:url('../images/banner/banner3.png') ;
    background-repeat: no-repeat;
    padding: 250px;
    background-size: cover;
}
nav{
    color: white;
    
}
.nav-title{
    font-size: 40px;
}
button{
    color: #005FAC;
    font-size: 15px;
    font-weight: 400px;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #FFFFFF;

}
div{
    text-align: left;
}
h1{
    text-align: left;
}


.div-images{
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    
}

.div-black{
    background-color: black;
    padding: 200px;
    background-size: cover;
}
.nav-color{
    color: #FFFFFF;
}
.h-color{
    color: #FFFFFF;
}











